@import "reset.css";

body {
  background-color: #f6f9fc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
canvas {
  width: 1000px;
  height: 700px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
}
.controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.controls .controls__range {
  margin-bottom: 10px;
}
.controls .controls__btn {
  margin-bottom: 30px;
}
.controls__btn button {
  width: 80px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 5px 0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
}
.controls__btn button:active {
  transform: scale(0.98);
}
.controls .controls__colors {
  display: flex;
}
.controls__colors .controls__color {
  width: 50px;
  height: 50px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  cursor: pointer;
  margin: 0 3px;
}
